<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="navbar navbar-fixed-bottom navbar-inverse row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <ul class="nav navbar-nav">
            <li></li>
            <li><a href="javascript:void(0)">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp联系我们:&nbsp 邮箱：lzirui@126.com</a></li>
        </ul>
    </div>
    <div class="col-md-3">

    </div>
</div>
</body>
</html>