<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>在线招聘系统</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="jumbotron" style="background: #2b669a">
    <div class="container" >
        <br/> <br/> <br/> <br/><br/>
        <h1 align="center">欢迎访问EasyJob！</h1>
        <p align="center">班级：软件工程xxx班</p>
        <p align="center">姓名：xxxx</p>
        <p align="center">指导老师：xxx</p>
        <p align="center">
            <a href="/home"><button class="btn btn-primary">开始访问>></button></a>
        </p>
    </div>
</div>
</body>
</html>